{{!< body-footer}}

<div id="index-header-block" class="header-gradient">
    <div class="bottom-right-slant"></div>
    <div role="navigation" class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar header-font"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand header-font">
					<img class="inline" src="images/Logo.svg"/>
					<div class="inline logo-text">File Neat</div>
				</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right small-margin-top">
					{{# each navLinks}}
                        <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
                            <a class="navbar-font" href="{{ href }}">{{ label }}</a>
                        </li>
					{{/each}}
					{{#if user}}
                        <li><a class="navbar-font" href="/keystone/signout">Sign Out</a></li>
					{{else}}
                        <li><a class="navbar-font" href="/keystone/signin">Sign In</a></li>
					{{/if}}
                </ul>
            </div>
        </div>
    </div>
	<div class="text-center">
		<h2 id="header-slogan" >Saving Disk Space Made Simple</h2>
		<img id="header-preview" src="images/real-gif-soon.svg">
	</div>
</div>

<!--Scan Files and folder-->
<section>
	<div class="container">
		<div class="row">
			<h3 class="col-sm-12 col-md-offset-2 col-md-6 feature-heading">Scan Files and Folders</h3>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-offset-2 col-md-6">
                <img class="feature-preview" src="images/real-gif-soon.svg">
			</div>
			<div class="col-sm-12 col-md-3 feature-description">
                Lorem ipsum dolor sit amet, quo ei laudem sanctus, vim at odio quas integre, populo senserit ad cum. Qui tota veri diceret ut, putent antiopam an duo.
			</div>
		</div>
	</div>
</section>

<!--Check Your Usage-->
<section id="middle-feature-section">
	<div id="social-block" class="visible-lg-block">
		<a href="#">
			<img class="social-logo" src="images/facebook-logo.svg"/>
		</a>
        <a href="#">
            <img class="social-logo" src="images/twitter-logo.svg"/>
        </a>
	</div>
    <div class="container">
        <div class="row">
            <h3 class="col-sm-12 col-md-offset-5 col-md-6 feature-heading">Check Your Usage</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-3 feature-description text-align-right">
                Lorem ipsum dolor sit amet, quo ei laudem sanctus, vim at odio quas integre, populo senserit ad cum. Qui tota veri diceret ut, putent antiopam an duo.
            </div>
            <div class="col-sm-12 col-md-6">
                <img class="feature-preview" src="images/real-gif-soon.svg">
            </div>
            
        </div>
    </div>
</section>

<!--Organize and Declutter-->
<section>
    <div class="container">
        <div class="row">
            <h3 class="col-sm-12 col-md-offset-2 col-md-6 feature-heading">Organize and Declutter</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-6">
                <img class="feature-preview" src="images/real-gif-soon.svg">
            </div>
            <div class="col-sm-12 col-md-3 feature-description">
                Lorem ipsum dolor sit amet, quo ei laudem sanctus, vim at odio quas integre, populo senserit ad cum. Qui tota veri diceret ut, putent antiopam an duo.
            </div>
        </div>
    </div>
</section>

<!--About us-->
<section id="about-us-section">
	<h1 id="about-us-heading">About Us</h1>
	<div id="founder" class="container">
		<div id="founder-profile">
			<img class="float-left medium-margin-right" src="images/mugshot-soon.svg"/>
			<div class="inline">Ut zril deserunt eam, dolore verterem in sit. Vel no possit splendide consequuntur.</div>
		</div>
		<div>Id eam paulo gubergren. Ei commodo phaedrum vis, veri propriae constituto at qui. Ius eu hinc eros doming, est ei vivendum singulis incorrupte, maluisset accusamus te qui.</div>
	</div>
</section>

<!--Buy or download-->
<section>
	<div class="container text-center">
		<div>
            <button class="action-button">
                Buy $6.99
            </button>	
		</div>
		
		<div id="free-trial-divider" class="text-center row">
			<div class="right-intense horizontal-line col-sm-offset-1 col-sm-3"></div>
			<!--<hr/>-->
			<div class="col-sm-4 no-padding-left-right">or download free trial</div>
			<div class="left-intense horizontal-line col-sm-3"></div>
		</div>

        <div class="text-center">
            <button class="action-button download-button">
                Download (Mac)
            </button>
        </div>

        <div class="text-center">
            <button  class="action-button download-button">
                Download (Windows)
            </button>
        </div>

        <div class="text-center">
            <button  class="action-button download-button">
                Download (Linux)
            </button>
        </div>
    </div>
</section>
