<div class="container" id="faq-container">
	<h1>Frequently Asked Questions</h1>
	<!--Pricing-->
	<div>
		<h2>Pricing</h2>
		<h3>How much does Fi.Ne cost and for how long can I use it?</h3>
		<p>Fi.Ne costs $6.99 and you can use it indefinitely.</p>
        
        <h3>How many computers can I run my copy of Fi.Ne on?</h3>
        <p>One license of Fi.Ne is valid for two computers.</p>
        
        <h3>Are there any student discounts?</h3>
        <p>At current time, we don't provide any student discounts</p>
	</div>

	<!--Updates-->
    <div>
        <h2>Updates</h2>
        <h3>What about bug fixes and future updates?</h3>
        <p>As a licensed user, you will receive all future updates for free</p>

        <h3>Are there any plans to add more features to this app?</h3>
        <p>Yes, we are planning to add list view in the organize section. We might also  add a limited preview option.</p>
		
    </div>

    <!--Features-->
    <div>
        <h2>Features</h2>
        <h3>How do I check my disk usage?</h3>
        <p>Your usage is shown in a sunburst chart. Think of it as a pie chart that works on a hierarchy of item. In this case its your file structure.Clicking on a pie will zoom you into that folder in you file structure. You can read all about it here.</p>

        <h3>What happens when I click on "Organize"?</h3>
        <p>Fi.Ne is designed to be self sufficient in its operation. You don't need to jump to an external file browser to clean up your files. The usual operations like Rename, Group, Move and delete are right within the app itself.
        </p>

        <h3>How can I leave a feedback?</h3>
        <p>Feedbacks can be submitted from within the app. In the main menu, click on the bottom right button and you will be presented with a popup.We would love to hear from you.</p>
    </div>

    <!--Troubleshooting-->
    <div>
        <h2>Troubleshooting</h2>
        <h3>I found a bug,where can I report it?</h3>
        <p>You can send us a mail or report us here</p>

        <h3>What are the minimum system requirements for Fi.Ne?</h3>
        <p>Fi.Ne is cross platform. That being said, you need to have windows 7 or above, MacOSX Snow leapord or Ubuntu 10.1</p>

        <h3>My copy of Fi.Ne does not run on windows 7 32 bit.</h3>
        <p>Please reinstall and try again. If the problem persists contact us.</p>
    </div>

    <!--License-->
    <div>
        <h2>License</h2>
        <h3>I lost my license key. How do I get it back?</h3>
        <p>Send us a mail with the same mail Id you used with the purchase. We will send you the license key again.</p>

        <h3>Can I use my license of two different computers running on two different platforms?</h3>
        <p>Yes you can.</p>
		
    </div>
	
	<!--Contact us-->
	<div>
        <h2>Contact Us</h2>
		<input type="text" name="name" placeholder="Name" class="flat-text display-block"/>
		<input type="text" name="email" placeholder="Email" class="flat-text display-block"/>
		<textarea placeholder="Message" class="flat-text display-block"></textarea>
		<button class="action-button small-button" type="submit">Send</button>
	</div>
</div>
