// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

$background-color:#F4F4F4;
$header-font-color:white;
$header-font-hover-color: #f1f1f1;

body{
  background:$background-color;
  font-family: 'Source Sans Pro', sans-serif;
}

.header-gradient{
  background-image: linear-gradient(134deg, #28868F 0%, #2B4A75 100%);
}

#index-header-block{
  width:100%;
  height:700px;
  position: relative;
  color: $header-font-color;
}

#index-header-block h1,h2,h3,h4,h5,h6{
  font-weight: 200;
}

.bottom-right-slant{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 99;
  border-bottom: 120px solid $background-color;
  border-left: 100vw solid transparent;
}

.header-font{
  color:$header-font-color;
}

.navbar-brand>img.inline{
	display: inline;
}

.inline{
  display: inline;
}

.navbar-header{
  height:90px;
}

button.navbar-toggle{
  margin-top:24px;
}

.navbar-toggle .icon-bar{
  background: $header-font-color;
}

.logo-text{
  font-weight: 200;
  font-size:2em;
  position: relative;
  top:6px;
}

a.navbar-brand:hover{
  color:$header-font-hover-color;
}

.navbar-font{
  color:$header-font-color;
  font-weight: 200;
  font-size:1.3em;
}

.small-margin-top{
  margin-top:10px;
}

.medium-margin-right{
  margin-right:30px;
}

.small-padding-left-right{
  padding-left:20px;
  padding-right:20px;
}

//mobile
@media only screen and (max-width: 480px) {
  .active{
	background: #2a95a0;
  }
  #header-preview{
	width:100%;
	margin-top:50px;
  }
}

//tablet and above
@media only screen and (min-width: 480px) {
  .active{
	border-bottom: 3px solid $header-font-color;
  }
  #header-preview{
	height:400px;
	margin-top:30px;
  }
}

.nav.navbar-nav li{
  margin-right:25px;
}

#header-slogan{
  position: relative;
  animation:move-up-fade-in 1s linear 0s 1;
}



@keyframes move-up-fade-in {
  0% {
	opacity:0;
	top:50px;
  }
  100%{
	opacity:1;
	top:0px;
  }
}

.feature-heading{
  font-weight:500;
}

.feature-preview{
  width:100%;
}

.feature-description{
  font-weight:200;
  font-size:1.3em;
}

section{
  margin-top:70px;
}

.text-align-right{
  text-align: right;
}

#middle-feature-section{
  position: relative;
}

#social-block{
  background-image: linear-gradient(90deg, #F2295F 0%, #E4647E 91%);
  width: 130px;
  height: 380px;
  position: absolute;
  left: 0px;
  top: 70px;
}

.social-logo{
  display: block;
  width:64px;
  margin-left:auto;
  margin-right:auto;
  margin-top:80px;
}

$about-us-height:500px;

#about-us-section{
  position: relative;
  height:$about-us-height;
}

#founder{
  position: absolute;
  right:0px;
  width:50%;
  height:100%;
  background-image: linear-gradient(-45deg, #6293A9 0%, #4B84A8 100%);
  color: #f6f6f6;
  font-weight:200;
  font-size:1.2em;
  //padding:100px 100px 100px 100px;
  padding:140px;
}

#about-us-heading{
  font-weight: 300;
  position: absolute;
  left:20%;
  top:$about-us-height/2;
}

#founder-profile{
  height:150px;
}

.float-left{
  float:left;
}

.action-button{
  border:none;
  color: white;
  background-image: linear-gradient(135deg, #E93767 0%, #E8778E 100%);
  font-size: 2.3em;
  font-weight: lighter;
  padding:20px 40px 20px 40px;
  text-align: center;
}

button.action-button{
  border:none;
}

.action-button:hover{
  background-image: linear-gradient(135deg, #ff396a 0%, #ff849c 100%);
}

.horizontal-line{
  height:2px;
  position: relative;
  top:0.5em;
}

.right-intense{
  background-image: linear-gradient(90deg, rgba(202, 202, 202, 0) 0%, #a3a3a3 100%);
  //background: red;
}

.left-intense{
  background-image: linear-gradient(90deg,#a3a3a3 0%,  rgba(202, 202, 202, 0) 100%);
  //background: red;
}

.medium-line-height{
  line-height:2.5em;
}

#free-trial-divider{
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 2em;
  font-weight: 100;
  color: #919191;
}

.download-button{
  width:400px;
  margin-top:15px;
  margin-bottom:15px;
}

.no-padding-left-right{
  padding-left:0;
  padding-right:0;
}

footer{
  margin-top:30px;
  background-image: linear-gradient(45deg, #43607F 0%, #203249 100%);
  font-size: 26px;
  color: white;
  height:300px;
  width:100%;
  padding-left:70px;
  padding-top:20px;
  position: relative;
}

footer>ul{
  list-style-type: none;
  color:white;
}

footer>ul>li>a{
  color:white;
  font-weight: lighter;
  font-size:0.7em;
}
footer>ul>li>a:hover{
  color: #f3f3f3;
}
#copyright{
  position: absolute;
  bottom:20px;
  left:110px;
  font-weight:lighter;
  font-size:0.5em;
}

header.navbar{
  background-image: linear-gradient(134deg, #28868F 0%, #2B4A75 100%);
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius: 0px;;
}

.no-border-radius,
.list-group-item:first-child.no-border-radius,
.list-group-item:last-child.no-border-radius{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.pagination .active>a{
  background: #D8D8D8;
  border:none;
}


.pagination > li:first-child > a,
.pagination > li:last-child > a{
  background: transparent;
  border:none;
  color: #3E3E3E;
}

.pagination > li:first-child > a:hover,
.pagination > li:last-child > a:hover{
  border-radius:0;
  background: transparent;
  color:#337ab7;
}

.pagination > li > a,
.pagination > .active > a{
  color: #3E3E3E;
}

#faq-container p{
  font-size: 1.2em;
  font-weight: 300;
}
#faq-container h2{
  font-weight:300;
  margin-top:45px;
}

#faq-container h3{
  margin-top:15px;
}

#faq-container p{
  margin-top:18px;
}

.flat-text{
  border: none;
  padding: 10px;
  width: 400px;
  margin-bottom:20px;
}

textarea.flat-text{
  width:470px;
  height:250px;
}

.display-block{
  display: block;
}

.action-button.small-button{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5em;
}
